@import "tailwindcss/base";
@import "tailwindcss/components";

@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import 'mantine-react-table/styles.css';

@import "tailwindcss/utilities";

@import 'graphiql/graphiql.css';
@import '@graphiql/react/dist/style.css';

@layer base {
  html {
    @apply font-heading;
  }
}

@tailwind variants;
